:root {
  --vs-primary: 246, 245, 247;
  --vs-success: 23, 201, 100;
  --vs-danger: 235, 37, 90;
  --vs-warn: 254, 130, 0;
  --vs-dark: 36, 14, 50;
}

.vs-input {
  background: #ffffff;
  border: none !important;
  &:focus {
    background: #ffffff;
  }
}

.vs-select__input {
  background: #ffffff !important;

  &:focus {
    background: #ffffff;
    //box-shadow: none;
    //border: none;
  }
  &:hover {
    background: #ffffff;
    box-shadow: none;
    //border: none;
    //top:0;
  }
}
body {
  overflow-y: scroll;
}
